form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: auto;
  align-items: flex-start;
  background-color: #3DE0F2;
  padding: 10px;
}

.form-separator {
  margin: 5px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}