form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: auto;
  align-items: flex-start;
  background-color: #3DE0F2;
  padding: 10px;
  margin-bottom: 20px;
}

.form-separator {
  margin: 5px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

button {
  background-color: #1998A6;
  color: white;
}

button:hover {
  background-color: #0F5D66;
  color: white;
}